

<nav>
  <h1 class="name">Whitman</h1>
  <a href="/">
    <img src="/ws.svg" id="logo" alt="Blog logo"/>
  </a>
    <hr/>
  <h2>Schorn</h2>
  <hr/>
  <ul>

  <p>
  <div id="spin-man">
<h2>&nbsp; <span class="icon-stack">
  <i class="icon-sign-blank icon-stack-base"></i>
  <i class="icon-terminal icon-light"></i>
</span>
  <h2>☃<a href="#"><i class="icon-keyboard random"></i></a></h2>
  </div>
  <script type="text/javascript">
    $(function() {
    items = ["coffee", "book", "edit", "save", "camera-retro", "fire-extinguisher", "magic", "picture", "gamepad", "food", "beaker", "beer", "bar-chart"]
    
    $('.random').click(function (e) {
      e.preventDefault();
      item = items[Math.floor(Math.random()*items.length)];
      $(this).attr('class', "icon-"+ item +" random");
      $(this).addClass();
    });
  });
  

  </script>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>