.big {
     position: absolute;
     top: 50;
     right: 0;
     bottom: 0;
     left: 0;
     text-align: center;
     font-size: 64px;
     vertical-align: center;
     font-family: 'Source Sans Pro', sans-serif;
     font-style: italic;
     color: #fff;
     text-shadow: 5px -5px 0px #000, 3px 3px 5px black;
}

.block1 {
      margin: auto;
}



.block2 {
     margin: 0 0 0 0;
     display: none;
}

.back {
     font-size: 72px !important;
}

 

#container {
     width: 100%;
     height: 2000px;
     background: url(../img/rj/r-large.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#r, #j {
     font-weight: 300;
    font-weight: 800;
}


#hg,  {
     font-weight: 300;
    font-weight: 800;
     text-shadow: 5px -5px 0px #000, 3px 3px 5px black;
 
}

#hg a {
     color: #FFD60D;
}

#r {
     color: #0027BF;
      text-shadow: -15px -15px 0px #000, 3px 3px 5px black;

}

#j {
     color: #FF27BF;
      text-shadow: 15px 15px 0px #000, 3px 3px 5px black;

}
