.big {
 position: absolute;
 top: 20;
 right: 0;
 bottom: 0;
 left: 0;
 text-align: center;
 font-size: 64px;
 vertical-align: center;
 font-family: 'Source Sans Pro', sans-serif;
 font-style: italic;
 color: #fff;
 text-shadow: 5px -5px 0px #000, 3px 3px 5px black;
 -webkit-transition:all 400ms;   
 -moz-transition:all 400ms;
 transition:all 400ms; 
}


body {
  background: #111111;
}


body {
max-height: 1500px;
}

.block1 {
  -ms-transform: translateY(-1500px); /* IE 9 */
  -webkit-transform: translateY(-1500px); /* Chrome, Safari, Opera */
  transform: translateY(-1500px);

}

.block2 {
  -ms-transform: translateY(1500px); /* IE 9 */
  -webkit-transform: translateY(1500px); /* Chrome, Safari, Opera */
  transform: translateY(1500px);

}



.block1.showing, .block2.showing {
  -ms-transform: translateY(0px); /* IE 9 */
  -webkit-transform: translateY(0px); /* Chrome, Safari, Opera */
  transform: translateY(0px);

}

.back {
 font-size: 72px !important;
}



#container {

 width: 100%;
 height: 185%;
max-height: 185%;

 background: url(../img/rj/r-large.gif) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}


#r, #j {
 font-weight: 300;
 font-weight: 800;
 cursor: pointer;
}


#hg,  {
 font-weight: 300;
 font-weight: 800;
 text-shadow: 5px -5px 0px #000, 3px 3px 5px black;
 
}

#hg a {
 color: #FFD60D;
}

#r {
 color: #0027BF;
 text-shadow: -15px -15px 0px #000, 3px 3px 5px black;

}

#j {
 color: #FF27BF;
 text-shadow: 15px 15px 0px #000, 3px 3px 5px black;

}
