#container{
     position: absolute;
     margin: auto;
     top: 150;
     right: 0;
     bottom: 0;
     left: 0;
     width: 580px;
     height: 169px;
     background: url(../../city.jpg);
}

body {
	background: #3B5998;
     color: #f7f7f7;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;


}

ul {
     list-style-type: none;
}

.mask {
     display: none;
     padding: 10px;
     border: 1px solid #f7f7f7;
     width: 60%;
     text-align: center;
     margin: center;

}

.loadingLogin {
     text-align: center;
}

.btn {
     cursor: pointer;
     padding: 10px 5px;
     margin: 10px;
     border: 1px solid #f7f7f7;
     color: #f7f7f7;
     width: 150px;
     text-align: center;
     text-transform: capitalize;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     border-radius: 1px;

}

.important {
     text-align: center;
     font-size: 36px;
     padding: 10px;
     max-width: 500px;
     display: inline-block;
     text-overflow: ellipsis;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-top {
     margin-top: 45px;
}


#app-left {

     height: 100%;
     padding: 10px;
     margin: auto;

}


#app-right {
     position: absolute;
     top: 10px;
     right: 20px;
     height: 100%;
     margin: auto;
}