#container{
     position: absolute;
     margin: auto;
     top: 150;
     right: 0;
     bottom: 0;
     left: 0;
     width: 580px;
     height: 169px;
     background: url(../../city.jpg);
}

body {
	background: #3b5998;
     color: #f7f7f7;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;


}

ul {
     list-style-type: none;
}

.capitalize {
     text-transform: capitalize;
}


#compose-btn {
     cursor: pointer;
     margin: 20px 20px 0px;
     line-height: 36px;
     width: 400px;
}


.compose {
     width: 400px;
     color: #afbdd4;



}

.compose input, .compose textarea {
     border: 1px dotted #afbdd4;
     color: #fff;
     background-color: #3b5998;
     outline: 0;
     font-size: 18px;
     line-height: 36px;
     width: 400px;
     text-indent: 5px;

}

input#compose-name {
     text-align: center;
     text-indent: 0px;
     font-size: 22px;
}

.compose-action {
     cursor: pointer;
     -webkit-transition: all 100ms ease-in-out;
     -moz-transition: all 100ms ease-in-out;
     -ms-transition: all 100ms ease-in-out;
     -o-transition: all 100ms ease-in-out;
     transition: all 100ms ease-in-out;
}

.compose-action:hover {
     color: #d8dfea;
}

.post-list {
     width: 400px;
     text-align: left;
     padding: 20px;
     line-height: 36px;
}


.post-bar {
     padding: 5px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     margin: 5px 0px;
     border: 1px solid #3b5998;
     -webkit-transition: all 100ms ease-in-out;
     -moz-transition: all 100ms ease-in-out;
     -ms-transition: all 100ms ease-in-out;
     -o-transition: all 100ms ease-in-out;
     transition: all 100ms ease-in-out;

}


.period {
     display: inline;
     margin-left: 5px;

}

.period .period-hover {
     display: none;
     color: #8b9dc3;
     font-size: 11px;
}

.small {
          color: #8b9dc3;
     font-size: 11px;
}

.period:hover .period-hover {
     display: block;
     position: absolute;
     background-color: #fff;
     padding: 3px;
     margin: 3px;
     text-wrap: unrestricted;
}

.post-misc {
     font-size: 11px;
}

.post-bar:hover {
     border-color: #8b9dc3;
}

.post-bar.selected {
     background-color: #3b5998;
     border-color: #fff;
     color: #fff;
}

.mask {
     display: none;
     padding: 10px;
     border: 1px solid #f7f7f7;
     width: 40%;
     text-align: center;
     margin: center;

}

.loadingLogin {
     text-align: center;
}



.post-list li {
     display: none;
}

.btn {
     cursor: pointer;
     padding: 10px 5px;
     margin: 10px;
     border: 1px solid #f7f7f7;
     color: #f7f7f7;
     width: 150px;
     text-align: center;
     text-transform: capitalize;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     border-radius: 1px;

}

a {
     color: #fff;
     text-decoration: none;
     -webkit-transition: all 100ms ease-in-out;
     -moz-transition: all 100ms ease-in-out;
     -ms-transition: all 100ms ease-in-out;
     -o-transition: all 100ms ease-in-out;
     transition: all 100ms ease-in-out;



}

a:hover {
     color: #8b9dc3;
}

.secondary {
     color: #8b9dc3;
}

.detail-time {
     float: right;
     font-size: 14px;
     line-height: 14px;
     margin-top: 26px;
}

.important {
     text-align: center;
     font-size: 28px;
     padding: 10px 0;
     display: inline-block;
     text-overflow: ellipsis;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-top {
     margin-top: 45px;
}


#app-left {

     height: 100%;
     padding: 10px;
     margin: auto;

}


#app-right {
     position: fixed;
     top: 10px;
     right: 20px;
     height: 100%;
     margin: auto;
     max-width: 400px;
     height: 100%;
     overflow-x: hidden;
     overflow-y: scroll;
}