/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

.icon-laptop {
		display: none;
	}

	.icon-mobile-phone {
		display: none;
	}

	.icon-tablet {
		display: none;
	}

	.icon-reply {
		display: none;
	}

	ul.posts a {
		font-weight: 600;
	}

	div#post p {
		font-size: 16px;
	}


	.resp-icon {

	}

	.container {

	}


@media only screen and (min-width: 959px)  {
	/* desktop */
	.icon-laptop {
		display: block;
	}

	.fitIcon {
		font-size: 64px;
	}

		h1.name {
	/* margin-left: 18px; */
	font-size: 36px;
	font-weight: 400;
}

	div.two.columns.sidebar {

		width: 200px;
	}


	ul.posts a {
		font-size: 20px;
		color: #2a2a2a;
		text-decoration: none;


	}

	ul.posts a:hover {
		font-style: none;
		color: #bbb;
  		font-style: italic;
	}

	ul.posts span {
		font-size: 14px;
		font-style: normal;

	}

}

@media only screen and (min-width: 480px) and (max-width: 959px) {
	/* tablet */
	.icon-tablet {
		display: inline;
	}

	i.icon-rotate-90 {
		display: none;
	}

	h1.name {
	/* margin-left: 18px; */
	font-size: 56px;
	font-weight: 400;
}

	ul.posts a {
		font-size: 36px;


	}


	ul.posts span {
		font-size: 10px;

	}

}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* tablet */
		.icon-tablet {
		display: none;
	}

	i.icon-rotate-90 {
		display: inline;
	}


	h1.name {
	/* margin-left: 18px; */
	font-size: 36px;
	font-weight: 400;
}


}


@media only screen and (max-width: 479px) {
	/* mobile phone */
	.icon-mobile-phone {
		display: block;
	}


		ul.posts a {
		font-size: 24px;

	}

	ul.posts span {
		font-size: 8px;

	}

}


@media only screen and (max-width: 3909px) {
	/* lazy way to handle super-big images */
					img.fit-img {
	max-width: 600px;
	max-height: 300px;
}

	#logo {
		width: 125px;
	}



	.icon-mobile-phone {
		color: #03B1FF;
	}

.icon-laptop {
		color: #CB1630;
	}



.icon-tablet {
	
		color: #CB9F16;
	}

.icon-reply {
	
		color: #CB9F16;
	}


}
@media only screen and (max-width: 959px) {
	#logo {
		font-size: 21px;
		margin-bottom: 15px;
		width: 125px; }
	nav .button {
		padding: 9px 20px 11px; }

				img.fit-img {
	max-width: 500px;
	max-height: 250px;
}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 808px) and (max-width: 959px) {
	nav {
		width: 160px; }
	.sidebar h2 {
		font-size: 18px;
	}

	.sidebar ul {
		font-size: 14px;
	}

		img.fit-img {

	max-width: 400px;
	max-height: 250px;

}

	#logo {
		width: 100px;
	}

	div#post {

		margin-left: 40px;
	}

			.content .sidebar {
		display: inline;
		margin-right: -20px;
	}


}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 808px) {
	header h1 { font-size: 34px; line-height: 37px; }
	nav { position: relative; }
	nav ul,
	#logo { text-align: left; }
	.sidebar {
		display: block;
	}
	.content {
		border: 0px;
		padding-left: 0px;
	}

		.right-side {
		display: inline;
		margin-right: -20px;
	}


}

@media only screen and (max-width: 898px) and (min-width: 768px) { 
	#logo { width: 100px; }
}


@media only screen and (max-width: 768px) and (min-width: 480px) { 
	#logo { width: 300px; }

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 808px) {
		.sidebar {
		display: block;
		position: relative;
	}
	.right-side {
		display: block;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 20px;
	}

	h1 {
		font-size: 28px;
		line-height: 36px;
	}

	img.fit-img {

	max-width: 400px;
	max-height: 250px;

}


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.sidebar {
		display: block;
		position: relative;
	}
	.right-side {
		display: block;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	h1 {
		font-size: 24px;
		line-height: 32px;
	}

	h2 {
		font-size: 22px;
		line-height: 24px;
	}

	img.fit-img {

		max-width: 325px;
		max-height: 150px;

	}

	div#post {

		margin-left: 0px;
	}

h1.name {
	margin-left: 0px;
}

}